.mySwiper {
  width: 100%;
  height: 350px; /* Banner height */
  border-radius: 12px;
  overflow: hidden;
  margin-top: 2px;
  margin-left: 5px;
  margin-right: 5px;
}

.mySwiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Center content inside slides */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
